<p id="notice"><%= notice %></p>

<p>
  <b>Image:</b>
  <img src="<%= @product.image_url %>" />
</p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Price:</b>
  <%= number_to_currency(@product.price) %>
</p>

<p>
  <b>Product ID:</b>
  <%= @product.id %>
</p>

<p><a href="/reviews/new?id=<%= @product.id %>">Create Review</a></p>
<h2>User Reviews</h2>
  <% @user_reviews.each do |review| %>
    Rating: <%= review.rating %><br />
    Review: <%= review.body %><br />
    Reviewed on: <%= review.created_at.strftime("%A, %B %e, %Y") %>
  <% end %>
<hr />
<%= link_to 'Add to Cart', add_to_cart_product_path(@product), method: :post %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<%= render "cart"%>