<% title "Review for #{@product.name}" %>
<p id="notice"><%= notice %></p>

<%#= params.inspect %>

<p><%= @product.name %></p>

<p>
  <b>Text:</b>
  <%= @review.body %>
</p>

<p>
  <b>Rating:</b>
  <%= @review.rating %>
</p>

<p>
  <b>Product:</b>
  <%= @review.product_id %>
</p>


<%# link_to 'Edit', edit_review_path(@review) %>
<%= link_to 'Back to Products', products_path %>

