<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rails Store App</title>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag    "styles", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <div class="nav-collapse"></div>
          <ul class="nav">
            <li><a class="brand" href="/">Rails Store App</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/reviews">Reviews</li></a>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <%= yield %>
    </div>
  </div>
  <footer class="container">
    <div class="row">
      <div clas="span12">
        <hr />
        Copyright © Rails Store App, 2013
      </div>
    </div>
  </footer>
</body>
</html>
