<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Rails Shop - <%= yield(:title) || "The Rails Shop" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
</head>
<body>
  <header class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "The Rails Shop", root_path, id: "logo" %>
        <!-- <nav>
          <ul class="nav">
            <li><%#= link_to "Products", products_path %></li>
            <li><%#= link_to "Reviews", reviews_path %></li>
          </ul>
        </nav> -->
      </div>
    </div>
  </header>
  <div class="container main">
    <%= yield %>
  </div>
  <footer class="container center">
    <div class="row">
      <div clas="span12">
        &copy; 2013 The Rails Shop
      </div>
    </div>
  </footer>
</body>
</html>
